@tailwind base;
@tailwind components;
@tailwind utilities;


/* Slick Carousel styles */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body{
    background: #f5f5f5;
    font-family: myFont;
}

@font-face {
    font-family: myFont;
    src: url(./assets/Fontspring-DEMO-coresansc35.otf);
}